<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Meu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ usuario.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><ion-icon name="mail-outline"></ion-icon> {{ usuario.email }}</p>
      <p>
        <ion-icon name="call-outline"></ion-icon>
        <a [href]="'https://wa.me/'+usuario.telefone" target="_blank">{{ usuario.telefone }}</a>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
