<ion-app>
  <ion-menu side="start" contentId="main-content" *ngIf="usuarioLogado">
    <ion-header>
      <ion-toolbar>
        <ion-title>Bem-vindo, {{ nomeUsuario }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/home" routerDirection="root">
          <ion-label>Eventos</ion-label>
        </ion-item>
        <ion-item routerLink="/cadastro-evento" routerDirection="root">
          <ion-label>Cadastrar Evento</ion-label>
        </ion-item>
        <ion-item routerLink="/gerenciamento-eventos" routerDirection="root">
          <ion-label>Gerenciar Eventos</ion-label>
        </ion-item>
        <ion-item routerLink="/perfil" routerDirection="root">
          <ion-label>Perfil</ion-label>
        </ion-item>
        <ion-item routerLink (click)="logout()">
          <ion-label>Sair</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Conteúdo principal -->
  <ion-content id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
